{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="{% url 'home'%}">rent <span>point</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav nav-full me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="{% url 'home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'toprated'%}">Top Rated</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'newvech'%}">New Vechile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact'%}">Contact us</a>
              </li>
            </ul>
            <form class="d-flex search-full" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="login-page">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                        {% if user.is_authenticated %}
                        Hai {{user}}
                        {% else %}
                        Hai Guest
                        {%endif%}
                    </button>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'logout'%}">Log Out</a></li>
                        {% else %}
                      <li><a class="dropdown-item" href="{% url 'login'%}">Login</a></li>
                      <li><a class="dropdown-item" href="{% url 'signup'%}">Sign up</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
            </div>

        </div>
      </nav>
      <!-- nav ends -->
        <div class="login_section">
            
            <div class="content">
                <div class="log_head">
                    <h3>Login</h3>
                </div>
                <form method="post" >
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" style="padding: 5px;border: 1px solid black; background-color: blueviolet;">Login</button>
                </form>
                <div class="create">
                    <a href="#">Create a new account</a>
                </div>
                
            </div>
            
        </div>
     
      
      
</body>
</html>
