.main{
    /* border: 2ps solid red; */
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bo{
    /* border: 2px solid black; */
    height: 60vh;
    width: 70%;
    box-shadow: 0 0 5px black;
   
}
.text h5{
   text-align: center;
   font-size: 25px;
   font-weight: bold;
}
.text img{
    width: 98%;
    height: 50vh;
}