.main{
    /* border: 2ps solid red; */
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bo{
    /* border: 2px solid black; */
    height: 60vh;
    width: 70%;
    box-shadow: 0 0 5px black;
   
}
.text h5{
   text-align: center;
   font-size: 25px;
   font-weight: bold;
}




@media only screen and (max-width: 767px) {
    .bo{
        width: 100%;
        height: auto;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    .bo{
        height:50vh;
        margin-top: 150px;
        width: 100%;
    } 

    .footer{
        margin-top: 125px;
    }
    .main{
        /* border: 2px solid black; */
        height:50vh;
    }

}