{% extends 'common.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    {% if cart_items%}
    <h2>MY CART</h2>
</div>
<ul class="list_group">
    {% for item in cart_items %}
    <div class="row">
        <div class="col-sm">
            <img alt="no image found" class="card-img" src="{{item.image_url}}">
        </div>
        <div class="col-sm-10">
            <h5>{{i.vechile_name}}</h5>
            <p>price:{{i.book.price}} per book</p>
            <p>{{i.quantity}}</p>
            <p> Total price:{{i.total_price}}</p>
        </div>
        <a class="btn btn-outline-danger" href="#" onclick="alert('item removed from cart')">remove from cart</a>
    </div>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>
{% endblock content%}
