{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two wheeler section</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/common.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color:bisque;">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="{% url 'home'%}">rent <span>point</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav nav-full me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="{% url 'home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'toprated'%}">Top Rated</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'newvech'%}">New Vechile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact'%}">Contact us</a>
              </li>
            </ul>
            <form class="d-flex search-full" role="search" action="{% url 'bike-and-car-search' %}" method="get">
              <input class="form-control me-2"name="q" type="search" placeholder="search by model,cc,year,maker" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="login-page">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-user"></i>
                      {% if user.is_authenticated %}
                      Hai {{user}}
                      {% else %}
                      Hai Guest
                      {%endif%}
                  </button>
                  <ul class="dropdown-menu">
                      {% if user.is_authenticated %}
                      <li><a class="dropdown-item" href="{% url 'logout'%}">Log Out</a></li>
                      {% else %}
                    <li><a class="dropdown-item" href="{% url 'login'%}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'signup'%}">Sign up</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
          </div>

        </div>
      </nav>
      <!-- nav ends -->
      {% block content %}


      {% endblock content%}


      <!-- footer section starts -->
      <footer class="footer bg-dark text-white py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <a class="navbar-brand logo" href="{% url 'home'%}">rent <span>point</span></a>
                </div>
                <div class="col-6 col-md-2">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'home'%}">Home</a></li>
                        <li><a href="{% url 'newvech'%}">New Vehicles</a></li>
                        <li><a href="{% url 'toprated'%}">Top Rated</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5>Contact Us</h5>
                    <address>
                        <p>Nh building near Ernakulam Town Railway Station</p>
                        <p>Email: rentpoint@gmail.com</p>
                        <p>Phone: +1 (123) 456-7890</p>
                    </address>
                </div>
                <div class="col-12 col-md-3 ">
                    <h5>Follow us on</h5>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x text-danger" style="font-size: 35px;"></i></a>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x text-danger ml-3" style="font-size: 35px; margin-left:10px;"></i></a>
                </div>
            </div>
        </div>
      </footer>



</body>
</html>
      