{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bikerent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: bisque;">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="#">rent <span>point</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav nav-full me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="{% url 'home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'toprated'%}">Top Rated</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'newvech'%}">New Vechile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact'%}">Contact us</a>
              </li>
            </ul>
            <form class="d-flex search-full" role="search"action="{% url 'bike-and-car-search' %}" method="get">
              <input class="form-control me-2"name='q' type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="login-page">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                        {% if user.is_authenticated %}
                        Hai {{user}}
                        {% else %}
                        Hai Guest
                        {%endif%}
                    </button>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'logout'%}">Log Out</a></li>
                        {% else %}
                      <li><a class="dropdown-item" href="{% url 'login'%}">Login</a></li>
                      <li><a class="dropdown-item" href="{% url 'signup'%}">Sign up</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
            </div>

        </div>
      </nav>
      <!-- nav ends -->
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="{%static 'images/coursal1.jpg'%}" class="d-block w-100" alt="no image found">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="{%static 'images/coursal2.jpg'%}" class="d-block w-100" alt="no image found">
          </div>
          <div class="carousel-item">
            <img src="{%static 'images/coursal3.jpg'%}" class="d-block w-100" alt="no image found ">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <div class="title">
        <h3>We provide</h3>
      </div>
      <div class="service">
        <div class="box">
          <a href="{% url 'twowheeler'%}">
            <img src="{% static 'images/service1.jpg' %}" style="max-width: 100%; height:auto;" alt="image not found">
          </a>
            <h3>Two Wheeler For Rent</h3>
        </div>
        <div class="box">
          <a href="{% url 'carlist' %}">
            <img src="{% static 'images/service2.jpg' %}" style="max-width:100%; height:auto;" alt="image not found">
          </a>
          <h3>Four Wheeler For Rent</h3>
        </div>
      

      </div>
      <!-- service section ends -->
      <!-- client section starts -->
      <div class="clients">
        <div class="heading">
          <h2>Happy Customers</h2>
         </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col cli_card_full">
            <div class="card h-100">
              <img src="{% static 'images/customer1.jpg' %}" class="card-img-top" alt="no image found">
              <div class="card-body cli_text">
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col cli_card_full">
            <div class="card h-100">
              <img src="{% static 'images/customer2.jpg'%}" class="card-img-top" alt="no image found">
              <div class="card-body cli_text">
                <p class="card-text">This is This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer</p>
              </div>
            </div>
          </div>
          <div class="col cli_card_full">
            <div class="card  h-100">
              <img src="{% static 'images/customer3.jpg'%}" class="card-img-top" alt="no image found ">
              <div class="card-body cli_text">
                <p class="card-text ">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer</p>
              </div>
            </div>
          </div>
        </div>
        <div class="button_cli">
          <a href="#" <button class="btn btn-primary" type="submit">View More <i class="fa-solid fa-arrow-right"></i></button></a>
        </div>
      </div>
      <!-- clients section ends -->
      <!-- footer section starts -->
      <footer class="footer bg-dark text-white py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <a class="navbar-brand logo" href="{% url 'home'%}">rent <span>point</span></a>
                </div>
                <div class="col-6 col-md-2">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'home'%}">Home</a></li>
                        <li><a href="{% url 'newvech'%}">New Vehicles</a></li>
                        <li><a href="{% url 'toprated'%}">Top Rated</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5>Contact Us</h5>
                    <address>
                        <p>Nh building near Ernakulam Town Railway Station</p>
                        <p>Email: rentpoint@gmail.com</p>
                        <p>Phone: +1 (123) 456-7890</p>
                    </address>
                </div>
                <div class="col-12 col-md-3 ">
                    <h5>Follow us on</h5>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x text-danger" style="font-size: 35px;"></i></a>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x text-danger ml-3" style="font-size: 35px; margin-left:10px;"></i></a>
                </div>
            </div>
        </div>
    </footer>
    
      
</body>
</html>

